* {
  box-sizing: border-box;
}

div {
  display: block;
}

.warpper-sv {
    
  height: 100%;
  bottom: 0px;
  float: left;
  width: 100%;
  margin-top: 7%;
  padding: 0px 20px 20px 20px;

}

h1 {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  color: #3f3b3b;
  float: left;
}

.container-sv {
  width: 100%;
  margin-top: 40px;
  border-radius: 5px;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
  float: left;
}

.detail {
  margin: 20px;
  background: #fff;
  float: left;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 18px;
  border-radius: 10px;
  box-shadow: 0 0 5px #025583;
}

.col1,
.col2 {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.col1 {
  /* border-right: 1px dashed #ccc; */
  border-right-width: 0.5px;
  border-right-color: #dddddd;
  border-right-style: solid;
  box-shadow: 5px -5px 10px #dddddd;
}

.col2 {
  /* border-right: 1px dashed #ccc; */
  border-left-width: 0.5px;
  border-left-color: #dddddd;
  box-shadow: -5px -5px 10px #dddddd;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.row {
  position: relative;
  margin: 0px 3% 0px 20px;
  min-height: 150px;
  max-height: 150px;
  color: black;
  font-size: 13px;
  float: left;
  width: 96%;
  border-bottom: 1px solid #ccc;
}

.btn-reply {
  position: absolute;
  background: #3a91a4;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-right: 10px;
  float: left;
  font-weight: bold;
  left: 10px;
  bottom: 10px;
  border: none;
}

.btn-reply:hover {
  background-color: #86b434;
}

.title {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.content {
  float: left;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  color: #007bff;
}

body {
  font-family: arial;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  overflow: auto;
  display: inline-block;
  border-radius: 5px;
}
.pagination li {
  float: left;
}
.pagination li a {
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  color: #444;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-left: 1px solid #ccc;
}
.pagination li a:hover {
  background: #ccc;
}
.pagination li a.active {
  background: #004990;
  color: #fff;
}
.pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pg_dtl {
  text-align: center;
  width: 90%;
}
