.warpper_ad_survey {
    width: 100%;
}

.find {
    margin: 20px 15%;
    display: flex;
    justify-content: flex-end;
}

.content_sv_mn,
.container_ad_svcu {
    margin-left: 100px;
    width: 80%;
}

.container_ad_svcu {
    padding: 10px;
}

table {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px #025583;
    background: #fff;
}

th {
    color: #01579B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.ff {
    border-right: 1px solid #ccc;
}

td {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 13.5px;
}

.btn_edit,
.btn_edit_asw,
.btn_upd_asw {
    background-color: #fb8c00;
    border-color: #fb8c00;
}

.btn_del,
.btn_del_asw {
    background-color: rgb(255, 82, 82);
    border-color: rgb(255, 82, 82);
}

select,
button {
    height: 36px;
    min-width: 64px;
    padding: 5px;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-indent: .0892857143em;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border-style: none;
    overflow: visible;
    margin: 5px;
}

button:hover {
    background-color: rgb(245, 245, 245);
    border-bottom-color: rgb(118, 118, 118);
    color: rgba(0, 0, 0, 0.87);
}

select {
    margin: 5px;
    background-color: rgb(245, 245, 245);
    border-bottom-color: rgb(118, 118, 118);
    color: rgba(0, 0, 0, 0.87);
}

.btn_find {
    background-color: rgb(24, 103, 192);
    border-color: rgb(24, 103, 192);
}

.btn_ins {
    position: absolute;
    left: 100px;
    background-color: rgb(76, 175, 80);
    border-color: rgb(76, 175, 80);
}

.btn_save {
    background-color: #009688;
    border-color: #009688;
}

.btn_back {
    background-color: #607d8b;
    border-color: #607d8b;
}

.txt_find {
    font-weight: 500;
    font-size: .875rem;
    outline: none;
    background-color: transparent;
    border-style: none;
    margin: 5px;
    border-bottom: 1.4px solid rgb(24, 103, 192);
    width: 30%;
    padding: 0px;
    font-size: 16px;
}

.txt_qs {
    font-weight: 500;
    font-size: .875rem;
    outline: none;
    background-color: transparent;
    border-style: none;
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 1.4px solid rgb(24, 103, 192);
    width: 80%;
    padding: 0px;
    font-size: 16px;
    text-indent: 10px;
}

.txt_aws {
    font-weight: 500;
    font-size: .875rem;
    outline: none;
    background-color: transparent;
    border-style: none;
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 1.4px solid rgb(24, 103, 192);
    width: 78%;
    padding: 0px;
    font-size: 16px;
    text-indent: 10px;
}

.col3 ul li {
    font-weight: normal;
    list-style: none;
    font-size: 16px;
}

td {
    vertical-align: top;
}

.col1 {
    width: 5%;
    text-align: right;
}

.col2 {
    width: 15%;
    text-align: center;
}

.col3 {
    width: 60%;
    text-align: left;
}

.col4 {
    width: 7%;
}

.col5 {
    width: 8%;
}

.col {
    text-align: center;
}

.crt_dt {
    color: #b48484;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    overflow: auto;
    display: inline-block;
    border-radius: 5px;
}

.pagination li {
    float: left;
    background-color: #fff;
}

.pagination li a {
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-left: 1px solid #ccc;
}

.pagination li a:hover {
    background: #ccc;
}

.pagination li a.active {
    background: #004990;
    color: #fff;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pg_nd {
    margin: 10px;
    text-align: center;
    width: 100%;
}

.asw {
    width: 85%;
    font-size: 16px;
}

.btn_ins_asw {
    background-color: rgb(76, 175, 80);
    border-color: rgb(76, 175, 80);
    margin-bottom: 10px;
}

.kq {
    margin-top: 10px;
}

b {
    font-size: 18px;
}