.wrapper-account {
  top: 0;
  bottom: 0;
  left: 196px;
  background-color: green;
  width: 100%;
  position: absolute;
}

.wrapper-account .container-account {
  background-color: rgb(214, 214, 214);
  display: flex;
  justify-content: center;
  padding-top: 25px;
  width: 100%;
  height: 100%;
}

.wrapper-account .container-account .content-account {
  background-color: #fff;
  width: 850px;
  height: fit-content;
  margin-left: -196px;
  box-shadow: 0 4px 9px 5px #ccc !important;
  border-radius: 10px;
  padding: 15px;
}

.wrapper-account table {
  width: 100%;
}

.wrapper-account table,
th,
td {
  border: 1px solid #bbb;
  border-collapse: collapse;
  padding-left: 10px;
  line-height: 26px;
  font-size: 20px;
}

.wrapper-account .tbl-header {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #6772e5;
}

.wrapper-account #txtsearch {
  margin-right: 15px;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 0.5px solid #ccc;
  padding: 4px;
  width: 206px;
}

.wrapper-account #btnsearch {
  float: right;
  width: 90px;
  border: 0;
  background-color: #f0f0f9;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  font-size: 20px;
  font-family: Times New Roman;
  color: purple;
}

.wrapper-account #btnadd {
  width: 90px;
  border: 0;
  background-color: #fff3e0;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  font-size: 20px;
  font-family: Times New Roman;
  color: brown;
}

.wrapper-account #btnedit {
  float: left;
  border: 0;
  width: 60px;
  background-color: #e8f5e9;
  border-radius: 4px;
  margin-right: 5px;
}

.wrapper-account #btndel {
  float: right;
  border: 0;
  width: 60px;
  background-color: #ffebee;
  border-radius: 4px;
  margin-right: 10px;
}

.wrapper-account #btnactive {
  float: right;
  border: 0;
  width: 60px;
  background-color: #e5f8d1;
  border-radius: 4px;
  margin-right: 10px;
}

.wrapper-account .container-search {
  float: right;
  font-size: 20px;
}

.wrapper-account .container-add {
  left: 0;
  margin-bottom: 15px;
  float: left;
}

.wrapper-account .conatiner-table {
  clear: both;
}

.wrapper-account #pgn_admin {
  height: 20px;
  margin-top: 10px;
  float: right;
}

.wrapper-account .msg-result {
  padding-top: 10px;
  float: left;
}
