.wrapper-mng-rcm{
    top: 0;
    bottom: 0;
    left: 196px;
    background-color: green;
    width: 100%;
    position: absolute;   
}

.wrapper-mng-rcm .container-mng-rcm
{
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    padding-top: 25px;
    width: 100%;
    height: 100%
}

.wrapper-mng-rcm .content-mng-rcm{
    background-color: #fff;
            width: 1080px;
            height: auto;
            margin-left: -196px;
            box-shadow: 0 4px 9px 5px #ccc !important;
            border-radius: 10px;
            padding: 15px; 
            margin-bottom: auto;
}

.container-add {
    left: 0;
    margin-bottom: 15px;
    float: left;
}

.container-search {
    float: right;
    font-size: 20px;
}


.conatiner-table {
    clear: both;
}

#pgn_admin {
    /* width: 100%; */
    height: 20px;
    margin-top: 10px;
    float: right;
}

.msg-result {
    padding-top: 10px;
    float: left;
}

table {
    width: 100%;    
}

table,
th,
td {
    border: 1px solid #bbb;
    border-collapse: collapse;
    /* padding-left: 10px; */
    /* line-height: 28px;  */
    text-align: center;
    font-size: 18px;
    overflow: auto;
}

.pos-row{
    overflow: hidden; 
    width: 400px;
    text-overflow: ellipsis; 
    padding-left: 10px;
    text-align: left;
}

.tbl-header {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;    
    color: green
}

#txtsearch {
    margin-right: 15px;
    background-color: #FFFFFF; 
    border-radius: 3px;
    border: 0.5px solid #ccc;
    padding: 4px;
    width: 202px;
    /* border: none;
    border-bottom: 1px solid #9e9e9e; */
}

#btnsearch {
    float: right;
    width: 90px;
    border: 0;
    background-color: #2196F3;
    border-radius: 3px;
    /* border: 0.5px solid #ccc; */
    /* padding: 0px; */
    font-size: 20px;
    font-family: Times New Roman;
    color: white;
}

#btnadd {
    width: 90px;
    border: 0;
    background-color: #FF6B4A;
    border-radius: 3px;
    /* border: 0.5px solid #ccc; */
    /* padding:0px; */
    font-size: 20px;
    font-family: Times New Roman;
    color: white
}

#btnedit {
    float: left;
    border: 0;
    width: 55px;
    background-color: #E8F5E9;
    border-radius: 3px;
    margin-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 10px;
    border: 1px solid #9ad39f;
}

#btnview {
    border: 0;
    width: 50px;
    background-color: #E8EAF6;
    border-radius: 3px;
    /* margin-right: 5px; */
    /* text-align: center; */
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #9da7e0;
}

#btndel {
    float: right;
    border: 0;
    width: 55px;
    background-color: #FFEBEE;
    border-radius: 3px;
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #ffbfc9;
}


