* {
  box-sizing: border-box
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.mySlides {
  margin-left : 10%;
  margin-right: 10%;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position    : relative;
  margin-top  : 20px;
  margin-bottom  : 20px;
  
}

/* Fading animation */
.fade {
  -webkit-animation-name    : fade;
  -webkit-animation-duration: 1.5s;
  animation-name            : fade;
  animation-duration        : 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}