.site-footer
{
  /* position: absolute;  */
  background-color:#26272b;
  bottom: 0px; 
  font-size:14px;
  
  width: 100%;
  position: relative;
  padding: 5px;
  /* z-index: 1; */
}
.tablef
{
  width: 800px;
  color: #ffffff;  
}
#thf1{
  text-align: center;
}
#thf2{
  text-align: left;
}
