* {
  box-sizing: border-box
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
  margin     : 0
}

.navbar {
  overflow        : hidden;
  background-color: #333;
}

.navbar a {
  float          : left;
  font-size      : 16px;
  color          : white;
  text-align     : center;
  padding        : 16px;
  text-decoration: none;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: red;
}

.admin_flg {
  float: right;
  padding: 10px;
}

#admin_flg {
  box-shadow      : inset 0px 1px 0px 0px #f9eca0;
  background      : linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911 !important;
  border-radius   : 6px;
  border          : 1px solid #e65f44;
  display         : inline-block;
  cursor          : pointer;
  color           : #c92200;
  font-family     : Arial;
  font-size       : 15px;
  font-weight     : bold;
  padding         : 6px 24px;
  text-decoration : none;
  text-shadow     : 0px 1px 0px #ded17c;
}

#admin_flg:hover {
  background      : linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color: #f2ab1e;
}

#admin_flg:active {
  position: relative;
  top     : 1px;
}