body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .navbar a:hover,
  .subnav:hover .subnavbtn {
    background-color: red;
  }
  