body{
    background: url('../IMG/mypham1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #e1e1e1 url(../IMG/mypham1.jpg) repeat-x; */
}
.tieude>p{
    text-align: center;
    font-family:inherit;
    color: red;
    font-size: 50px;
}
.myform{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 40%;;
}

.row{
    margin: 10px;
}
.span{
    float: left;
    
}

