nav{
    width: 100%;
    height: 30px;
    display: block;
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 0; /*Nằm trên cùng*/
    left: 0; /*Nằm sát bên trái*/
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(241, 205, 205, 0.5); /*Đổ bóng cho menu*/
    background-color: #f5e8d7;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    color: white;
    background-color: #eba25f;
    font-weight: bold;
  }

#active {
    background-color: #eba25f;
    color: white;
    font-weight: bold;
  }

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

.tieude>p{
    text-align: center;
    font-family:inherit;
    color: red;
    font-size: 50px;
}
.myform{
    width: 500px;
    margin: auto;
}
.pagination{
    width: 100px;
    margin: auto;
}
.row{
    margin: 10px;
}
.span{
    float:left;
    width: 150px;
}

#uname{
    height: 20px;
    width: 177px;
}
#sex{
    height: 20px;
    width: 40px;
}
#bday{
    height: 20px;
}

#skill{
    height: 20px;
    width: 40px;
}
#mail{
    height: 20px;
    width: 177px;
}
#address{
    width: 177px;
}
.table{
    width: 500px;
    margin: auto;
}

table, th, td {  
    border: 1px solid black;
    border-collapse: collapse;
}
.error{
    margin-left: 150px;
    font-style: italic;
    color: red;
}

#confirm{
    margin-left: 150px;
}
#save{
    margin-left: 200px;
}