* {box-sizing: border-box}
/* ********************************************************************Style header********************************************** */
.headingPanel {
    background: #717171;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.headingPanel a{
    color: #fff;
}
.left-panel{
    float: left;
}
.left-panel span{
    color: #eeff09;
    font-weight: bold;
}
.right-panel{
    float: right;
}
.right-panel img{
    vertical-align: middle;
    background: #717171
}
.right-panel a{
    margin-right: 10px;
}

/* *********************************************************************STYLE MENU LEFT**************************************************** */
.left-menu{
    float: left;
    width: 15%;
    position: fixed;
    padding: 10px 0px;
}

.menu-heading{
    background: #525151;
    line-height: 20px;
    padding: 10px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0 0px 15px 0px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

/* ********************************************************************STYLE MAIN*********************************************************************** */
.main-content{
    float: left;
    width: 83%;
    margin-left: 1%;
    left: 16%;
    position: relative;
    box-shadow: 0 4px 9px 0 #eee!important;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.main-content h1{
    margin: 0;
    text-align: left;
    background: #525151;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}

.content-wrapper .container{
    padding: 15px 0;
}

/* ******************************************************************STYLE PAGINATION *****************************************************************/
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: rgb(60, 154, 243);
  }
  .current-page{
    background: rgb(68, 117, 224);
    color: #FFF;
  }

/* ************************************************************************STYLE POPUP************************************************************* */
.popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    padding-left: 35%;
    padding-right: 35%;
  }
  .formPopup{
      background-color: aliceblue;
      margin: 4% auto 15% auto;
      border: 1px solid #888;
      border-radius: 12px;
      width: 80%;
  }
  
  
  /* Full-width input fields */
  .containerPopup input[type=text],.containerPopup input[type=password],
  .containerPopup input[type=date],.containerPopup input[type=number] {
    width: 100%;
    padding: 8px;
    margin: 5px 0px 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .containerPopup input[type=text]:focus,.containerPopup input[type=password],
  .containerPopup input[type=date],.containerPopup input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .containerPopup input[type=radio]{
    margin: 5px 0px 15px 0;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  .formPopup hr {
    border-top: 4px double #0e0d0d;
    text-align: center;
   }

   /* ************************************************************************STYLE BTN************************************************************* */
  
   .btn {
    width: 100px;
    padding: 8px 5px;
    font-size: 15px;
    margin: 5px 32%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px #999;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
   background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }
  
  .Close {
    float: right;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    margin: 0px -42px 0px 0px;
  }
  
  .Close:hover,
  .Close:focus {
    color: red;
    cursor: pointer;
  }
  
  .formPopup{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
    padding: 0px 50px 30px 50px;
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* ************************************************************************STYLE LOGIN************************************************************* */
  img.avatar {
    width: 20%;
    border-radius: 50%;
    margin: 5px 40%;
  }
  .forgotpass{
    float: right;
  }
  
  .loginforgot{
    margin: 10px;
  }

/* ************************************************************************STYLE SEARCH************************************************************* */
.btnAdd{
margin: 10px 0;
}
.divAdd{
  margin: 0px 0px 20px 0px;
}

.btnEdit{
  width: 60px;
  margin: 5px;
  background-color: rgb(216, 113, 29);
}

.btnEdit:hover {background-color: #644305}
    
.btnEdit:active {
  background-color: #644305;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnDelete{
  width: 60px;
  margin: 5px;
  background-color: red;
}

.btnDelete:hover {background-color: #9e0821}
  
.btnDelete:active {
   background-color: #9e0821;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.inpSearch{
  height: 35px;
}

.search {
  float: left;
  margin: 10px 0;
  }
  
.search input {
    width: 400px;
    margin: -10px 20px 10px;
}

.btnSearch{
  margin: -10px;
}  

/* ************************************************************************STYLE TABLE************************************************************* */
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td{
    max-width: 200px;
    text-align: center;
    /* max-height: 200px; */
    border: 1px solid #ddd;
    padding: 8px;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    word-wrap: break-word;
    overflow: hidden;
}

.table tr:hover{
  background-color:#ddd;
  cursor:pointer;
}

.table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.clear-both{
    clear: both;
}

/* ************************************************************************STYLE PRODCTEDING************************************************************* */
.wrap-field label{
  width: 150px;
  display: inline-block;
  float: left;
  color: blue;
  font-size: 20px;
}

.wrap-field input{
  margin-bottom: 10px;
  line-height: 25px;
  float: left;
  width: 350px;
}
.AddOrEdit {
  padding: 20px 15%;
}

.labelContent{
  width: 150px;
  display: inline-block;
  color: blue;
  font-size: 20px;
}
/* ************************************************************************STYLE ORDER************************************************************* */
