nav{
    width: 100%;
    height: 30px;
    display: block;
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 0; /*Nằm trên cùng*/
    left: 0; /*Nằm sát bên trái*/
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(241, 205, 205, 0.5); /*Đổ bóng cho menu*/
    background-color: #f5e8d7;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    color: white;
    background-color: #eba25f;
    font-weight: bold;
  }

#active {
    background-color: #eba25f;
    color: white;
    font-weight: bold;
  }