body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.input-container {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    margin: 20px 10%;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    margin: 0px 1px 8px 0px;
}

.forgot {
    margin: 20px 30%;
}

.input-field {
    width: 70%;
    padding: 10px;
    height: 35px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    position: sticky;
    left: 45%;
}

.btn:hover {
    opacity: 1;
}
.forgotPass {
    margin: 10px 30%;
}
input#email_confirm {
    width: 80%;
    height: 40;
}

.changePass {
    width: 100%;
}
.content-changePass {
    margin: 20px 20%;
}
